.header,
.footer {
  width: 100%;
  background-color: #dff6ff;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

.header__text {
  margin: 0;
}

.nav {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  border-bottom: 1px solid black;
}

.nav__today,
.nav__tomorrow,
.nav__together {
  margin-left: 1rem;
  cursor: pointer;
  outline: none;
  border: 1px solid #dff6ff;
  padding: 0.5rem;
  background-color: #dff6ff;
  border-radius: 7px;
  font-weight: 700;
}

.main {
  display: flex;
}

.section-today,
.section-tomorrow {
  width: 50%;
  height: 80vh;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.section-today {
  border-right: 1px solid black;
}

.section-today__footer,
.section-tomorrow__footer {
  text-align: right;
}

.section-today__input,
.section-tomorrow__input {
  border: 1px solid #256d85;
  width: 50%;
  padding: 0.5rem;
  border-radius: 7px;
}

.section-today__button,
.section-tomorrow__button {
  padding: 0.5rem;
  cursor: pointer;
  outline: none;
  border: 1px solid #256d85;
  padding: 0.5rem;
  background-color: #256d85;
  border-radius: 7px;
  font-weight: 700;
  color: white;
}

.section-tomorrow__list {
  list-style: none;
  width: 100%;
}

.section-tomorrow__items {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  border-bottom: 1px solid #47b5ff;
}

.section-tomorrow__item {
  width: 100%;
  padding: 1rem 0.3rem;
}

.material-symbols-outlined {
  background-color: white;
  border: none;
  outline: none;
  cursor: pointer;
}
